# Dictionary

# Tuples

In [46]:
tup1 = () #Empty tuple

In [47]:
tup2 = (10, 30, 60) # Tuple of integers numbers

In [48]:
tup3 = ( 10.77, 203.23, 545.23) # Tuple of floats

In [49]:
tup4 = ('one', 'two', 'three') # Tuple of string

In [50]:
tup5 = ( 'one', 1, 1.75 ) # tuple mixed

In [51]:
tup6[1] = 'none'

NameError: name 'tup6' is not defined

# Tuple Index

In [52]:
print ( tup2[0] )

10

In [53]:
print ( tup4[0] )

one

# Tuple Sclicing

In [54]:
mytuple = ( 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight' )

In [55]:
print ( mytuple[0:3] )

('one', 'two', 'three')

In [56]:
print ( mytuple[2:5] )

('three', 'four', 'five')

In [57]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [58]:
del mytuple

In [59]:
print (mytuple)

NameError: name 'mytuple' is not defined

# Loop

In [60]:
mytuple = ( 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight' )
for i in mytuple:
 print(i)

one
two
three
four
five
six
seven
eight

In [61]:
mytuple = ( 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight' )
for i in enumerate(mytuple):
 print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [62]:
'one' in mytuple

True

In [63]:
mytuple2 = ( 43, 69, 37 , 22 , 13 )
sorted(mytuple2)

[13, 22, 37, 43, 69]

# Set

In [64]:
myset = { 1,2,3,4,5 }
print(myset)

{1, 2, 3, 4, 5}

In [66]:
myset = { 1,2,3,4,5,3,4,5,1 }
print(myset)
for i in myset:
    print(i)

{1, 2, 3, 4, 5}
1
2
3
4
5

In [68]:
myset = { 1.34, 2.5, 7.89, 1.34 }
print (myset)
for i in myset:
    print(i)

{1.34, 2.5, 7.89}
1.34
2.5
7.89

In [69]:
type (myset)

set

In [70]:
myset = { 1,2,3,4,5,3,4,5,1 }
print(myset)
for i in enumerate(myset):
 print(i)

{1, 2, 3, 4, 5}
(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [71]:
A = { 1, 2,3, 4,5 }
B = { 6,7, 8 }
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

# Dictionary

In [72]:
mydict = { 'Key': 'Value', 'Key2': 'Value2' }
print(mydict)

{'Key': 'Value', 'Key2': 'Value2'}

In [78]:
mydict = { 'firstname':'Bastian', 'lastname':'Parra', 'height':1.56 }
print(mydict)

{'firstname': 'Bastian', 'lastname': 'Parra', 'height': 1.56}

In [79]:
mydict = { 'firstname':'Bastian', 'lastname':'Parra', 'height':1.56 }
print(mydict)
mydict.keys()

{'firstname': 'Bastian', 'lastname': 'Parra', 'height': 1.56}

dict_keys(['firstname', 'lastname', 'height'])

In [80]:
mydict = { 'firstname':'Bastian', 'lastname':'Parra', 'height':1.56 }
print(mydict)
mydict.values()

{'firstname': 'Bastian', 'lastname': 'Parra', 'height': 1.56}

dict_values(['Bastian', 'Parra', 1.56])

In [81]:
mydict = { 'firstname':'Bastian', 'lastname':'Parra', 'height':1.56 }
mydict['firstname']

'Bastian'

In [82]:
mydict = { 'firstname':'Bastian', 'lastname':'Parra', 'height':1.56 }
for i in mydict:
 print (i, ':', mydict[i])

firstname : Bastian
lastname : Parra
height : 1.56

In [2]:
mydict = {'firstname' : 'Bastian', 'lastname' : 'Parra', 'Age': 32}
for i in mydict:
    print(i, ':', mydict[i])

firstname : Bastian
lastname : Parra
Age : 32

 # Operators

### Addition

In [4]:
a = 5
b =2 

c = a + b
print(c)

7

### Substractions

In [5]:
a = 5
b =2 

c = a - b
print(c)

3

In [7]:
a = 10
b =3

c = a // b
print(c)

3

In [8]:
a = 10
b =3

c = a / b
print(c)

3.3333333333333335

In [9]:
a = 10
b =3

c = a * b
print(c)

30

# Module
### Rest of the division

In [11]:
a = 20
b =3

c = a % b
print(c)

2

# Power

In [13]:
a = 10
b =3

c = a ** b
print(c)

1000

# Logical

In [ ]:
x = True
y = False

## Implicit Steps

In [ ]:
x = 10
x +=20 # x = x+20
print x

In [17]:
x = 10
x **=2 # x = x ** 2
print(x)

100

# Definitions - DEF

In [18]:
def myfunc():
    print("Hello world")

myfunc()

Hello world

In [19]:
def hello(name):
    print(f"Hello {name}")

hello("Bastian")

Hello Bastian

In [21]:
def square(n):
    n = n * n
    return n

print(square(10))
print(square(53))
print(square(3))

100
2809
9

In [23]:
def even_odd (num):
    """this function will check whether a number is even or odd """
    if num % 2 == 0:
        print (num, "even number")
    else: 
        print (num, "even number")

even_odd(100)
even_odd(99)

100 even number
99 even number

In [25]:
def fullname (firstname, lastname) :
    result = "{} {} ".format(firstname, lastname)
    print(result)
fullname("Bastian", "Parra")
fullname('John', 'Doe')

Bastian Parra
John Doe

In [26]:
def fullname (firstname, middlename = '', lastname = '', age = '') :
    result = "{} {} ".format(firstname,middlename, lastname)
    print(result)
fullname("Bastian", "Parra")
fullname('John', 'Doe')

Bastian Parra
John Doe

In [29]:
def add1(*args):
    return sum(args)
print(add1(1,2,3))
print(add1(1,2,3,4,5,6,2,4,2,1))

6
30

In [32]:
def user_details(*information):
    print(information)

user_details('john', 'doe', 25)
user_details('mart', 'plate', 23, 2.43)

('john', 'doe', 25)
('mart', 'plate', 23, 2.43)

In [34]:
def user_details1(**kwargs):
    print(kwargs)

user_details1(firstname ='john',lastname =  'doe', age =  25)

{'firstname': 'john', 'lastname': 'doe', 'age': 25}

# Lambda

In [36]:
addition = lambda a: a+10
print(addition(5))

15

In [37]:
res = (lambda *args: sum(args)
res(1,2,3)

SyntaxError: invalid syntax (2438592258.py, line 2)

In [39]:
def product(nums):
    total = 1
    for i in nums:
        total *= i
    return total

product(5)

TypeError: 'int' object is not iterable

In [40]:

res1 = (lambda nums: nums+5)
res1
res1(5)

10

# Classes and objects

In [42]:
class MyClassIsAmazing:
    global_var1 = 10

obj1 = MyClassIsAmazing()
print(obj1.global_var1)

10

In [44]:
class Employee:
    def __init__(self, name, empid):
        self.name = name
        self.empid = empid

    def greet(self):
        print("Thanks for joining ABC Company {}!!".format(self.name))

emp1 = Employee("John", 3441)
print('Name', emp1.name)
emp1.greet()

Name John
Thanks for joining ABC Company John!!